@charset "utf-8";

/* @import "reset.css"; */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@font-face {
  font-family: "Lato-Regular";
  src: url(./../assets/font/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato-Thin";
  src: url(./../assets/font/Lato-Thin.ttf);
}

.ls10px {
  letter-spacing: 0.625rem;
}

.container {
  max-width: 980px;
}

#home .bgimg {
  background: url(../assets/img/light.jpg) no-repeat 50% 50% / cover fixed;
}

#home.dark .bgimg {
  filter: brightness(40%);
  background-image: url(../assets/img/dark.jpg);
}

.parallax-bg {
  height: 400px;
  background: no-repeat 50% 50% / cover fixed;
}

#about .parallax-bg {
  background-image: url(../assets/img/bg-about.jpg);
  background-position: 50% 70%;
}

#work .parallax-bg {
  background-image: url(../assets/img/parallax2.jpg);
}

#contact .parallax-bg {
  background-image: url(../assets/img/parallax3.jpg);
  background-position: 50% 100%;
}

.circle-ani {
  width: 141px;
  height: 140px;
  animation: circle 20s linear infinite;
}

@keyframes circle {
  0% {
    transform: scale(1.5) rotate(0deg);
  }
  100% {
    transform: scale(1.5) rotate(-720deg);
  }
}

#header {
  background: transparent;
  transition: 0.3s;
}
#header a {
  color: #eee;
  transition: 0.3s;
}
#header a:hover {
  color: #fff;
}
#header.active {
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#header.active a {
  color: #222;
  transition: 0.3s;
}
#header.active a:hover {
  color: #111;
}

#home.dark h2 {
  text-shadow: 1px 1px 5px red, 0 0 25px red, 0 0 35px red;
}

#counterWrap {
  transform: translateY(56px);
}

#about::before,
#work::before,
#contact::before {
  display: block;
  content: "";
  height: 56px;
}

.basic p {
  text-align: justify;
  word-break: break-all;
}

.myimg {
  width: 425px;
  height: 280px;
  object-fit: cover;
}

.progress {
  height: 35px;
}

.progress:first-of-type .progress-bar {
  width: 85%;
}

.progress:last-of-type .progress-bar {
  width: 95%;
}

.counter {
  opacity: 0;
  transition: opacity 0.5s;
}
.counter::after {
  content: "+";
}

.counter.active {
  opacity: 1;
}

.portfolio {
  /* display: flex; */
  /* gap: 24px; */
}

.box_office_card {
  position: relative;
  /* width: 245px; */
}

.rank {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #fff;
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
  text-shadow: 2px 2px 2px #000;
}

.poster {
  height: 352px;
}

/* 작업 시간 */
.worktime {
  position: absolute;
  width: calc(100% - 48px);
  text-align: center;
  bottom: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 8px;
}

/* 작업 시간 점수 */
.worktime span {
  color: #59bec9;
  font-size: 1.5rem;
  margin-left: 16px;
}

/* 버튼 */
.portfolio .btns {
  display: flex;
  gap: 8px;
  padding: 0;
  margin-top: 8px;
}

/* 작업 인원 */
.worktype {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 1px solid #111;
  border-radius: 5px;
  width: 60px;
  /* height: 34px; */
}

/* 바로가기 버튼 */
.site_link {
  width: 100%;
  border-radius: 5px;
  text-align: center;
  /* padding: 6px; */
  /* line-height: 34px; */
}

.site_link[href=""] {
  opacity: 0.5;
  pointer-events: none;
}

/* y축 회전 */
.portfolio .inner {
  position: relative;
  height: 352px;
  /* 원근감 */
  perspective: 1000px;
}

.portfolio .inner:hover {
  /* 마우스 손가락 모양 */
  cursor: pointer;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.5s;
  border-radius: 5px;
  overflow: hidden;
}

.front {
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
  padding: 24px;
  color: #fff;
  background: rgb(0, 0, 0, 0.8);
  /* 뒷면 숨기기 */
  backface-visibility: hidden;
}

/* 호버시 뒤집기 */
.portfolio .inner:hover .front {
  transform: rotateY(180deg);
}

.portfolio .inner:hover .back {
  transform: rotateY(360deg);
}

.map {
  height: 160px;
}

input {
  height: 45px;
}

#name,
#email {
  width: calc(50% - 8px);
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

#btnForm {
  /* width: 28%; */
  width: auto;
}
