@charset "utf-8"; /* @ch */
@import url(common.css);
@import url(typo.css);

.card-details p {
  /* p는 위아래 기본 마진이 있다. 폰트 크기의 1em */
  margin: 0;
}

/* header */
/* section */
/* section common(공통) */
.sec {
  position: relative;
  height: 100vh;
}

/* #sec1 * {
  outline: 1px solid red;
} */

#sec1 .vid {
  position: absolute;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

#sec1 .vid video {
  width: 100%;
}

#sec1 .outer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#sec1 .container {
  width: 100%;
  max-width: 1330px;
  text-align: center;
}

#sec1 .container p {
  margin: 20px 0 100px;
}

#sec1 .counter {
  display: flex;
  justify-content: center;
}

#sec1 .counter div {
  width: 374px;
  /*
    height와 line-height가 같으면 인라인 텍스트가 수직 중앙 배치된다.
    단, 한 줄 텍스트일때만 가능
   */
  height: 44px;
  line-height: 44px;
  background-color: rgba(255, 217, 0, 0.6);
  border-radius: 20px;
  margin: 10px;
}

#sec2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 20px; */
}

#sec2 .bg {
  position: absolute;
  height: 100%;
}

#sec2 .bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#sec2 .sec-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
}

#sec2 .tearplan {
  position: absolute;
  top: 40px;
  right: 430px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(15, 34, 68);
  text-decoration: none;
}

#sec2 .tearplan::before {
  content: "ㅁ";
}

#sec2 .bg-percel {
  position: absolute;
  top: 40%;
}

/* card-container */
/* 배경색: bgc */
.card-container {
  position: relative;
  width: 340px;
  height: 628px;
  background-color: #edf5f7;
  /* overflow: hidden; */
  /* margin: 20px; */
}

.card-image-wrapper {
  overflow: hidden; /* o */
}
.card-image-wrapper img {
  transition: 0.3s; /* trs, 0.3초 */
  width: 100%;
  height: 100%;
}
.card-image-wrapper:hover img {
  /* transform: scale(너비, 높이), 기본값 1 */
  transform: scale(1.2, 1.2); /* trf:s */
}

.card-content {
  /* 마진 겹침 해결!
        -> 마진이 부모 바깥으로 지정되는 것을 방지
     */
  display: flow-root;
}

/* 배지+좋아요 */
.card-header {
  padding-left: 45px; /* pl45 */
}

.card-header span {
  /* 인라인 요소를 위로 맞춤 */
  vertical-align: top; /* vat */
}

.tag-badge {
  display: inline-block; /* dib */
  width: 70px; /* w70 */
  height: 38px; /* h38 */
  line-height: 38px; /* lh38px */
  text-align: center; /* tac */
  background-color: #0f2244; /* bgc */
  color: #fff; /* c */
}

/* 좋아요 하트 */
.like-button {
  /* 요소의 크기는 지정하면서 줄은 바뀌지 않는다. */
  display: inline-block; /* dib */
  width: 55px; /* w55 */
  height: 55px; /* h55 */
  line-height: 55px; /* 줄간격, lh55px */
  text-align: center; /* 텍스트 좌우 정렬, tac */
  /* padding: 16px 15px 24px; */
  border-radius: 50%; /* bdrs50p */
  margin-top: 20px;
  margin-left: 145px;
  background-color: #b1b4b3; /* bgc */
}
.like-button i {
  color: #fff; /* 글자 색, c */
  font-size: 20px; /* 글자 크기, fz20 */
}

/* 카드 UI 정보 */
.card-body {
  margin: 0 45px 120px; /* m0-45-120 */
}

/* footer */
