@charset "utf-8";

@import "./reset.css";

#header {
  position: relative;
  background: #111;
  padding: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#header .inner {
  max-width: 1100px;
  margin: 0 auto;
}

#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#header .top_link {
  display: flex;
  justify-content: space-between;
}

#header .top_link a {
  font-size: 0.8125rem;
  color: #888;
  margin: 0 10px;
}

#header .link_icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header .link_icon a {
  margin: 0 10px;
}

#gnb {
  position: absolute;
  width: 100%;
  max-width: 900px;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
}

#gnb .main {
  display: flex;
  justify-content: space-evenly;
  /* align-content: flex-end; */
}

#gnb .main a {
  position: relative;
  font-size: 1.125rem;
}

#gnb .main > li:nth-of-type(1) {
  margin-left: 30px;
}

#gnb .main > li:nth-of-type(4) {
  margin-left: 300px;
}

#gnb .main > li:not(:nth-of-type(5)) > a:hover::after {
  position: absolute;
  bottom: -14px;
  transform: translateX(-100%);
  content: "";
  width: 100%;
  height: 3px;
  background: #fff;
}

#gnb .main > li:hover > .sub {
  display: flex;
}

#gnb .sub {
  /* display: flex; */
  position: absolute;
  padding-top: 30px;
  transform: translateX(-25%);
  display: none;
  text-wrap: nowrap;
}

#gnb .sub li {
  margin: 0 8px;
}

#gnb .sub a {
  font-size: 0.9375rem;
}

#gnb .sub a:hover {
  text-decoration: underline;
}
