@charset "utf-8";

footer .inquiry {
  height: 426px;
  padding-top: 120px;
  background: #fff url(./../assets/img/footer_img.png) no-repeat 0 100%;
}
footer .inquiry .inner {
  display: flex;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
}
footer .inquiry .con-area {
  display: flex;
  justify-content: space-between;
  width: 960px;
}
footer .inquiry .con-btn {
  display: flex;
  justify-content: space-between;
  /* gap: 12px; */
}

footer .inquiry .faq-btn {
  display: inline-block;
  text-align: center;
  background: #54a922;
  /* padding: 35px 48px; */
  padding: 35px 0px;
  width: 274px;
  margin-right: 12px;
}
footer .inquiry .faq-btn span {
  background: url(./../assets/img/icon_main_inquiry_01.png) no-repeat 0 /
    contain;
  padding-left: 67px;
}
footer .inquiry .consult-btn {
  display: inline-block;
  text-align: center;
  background: #7b7b7b;
  /* padding: 35px 70px; */
  padding: 35px 0px;
  width: 274px;
}
footer .inquiry .consult-btn span {
  background: url(./../assets/img/icon_main_inquiry_02.png) no-repeat 0 /
    contain;
  padding-left: 57px;
}
footer .info {
  background: #222 url(./../assets/img/logo.png) no-repeat 80px 70px;
  padding: 50px 250px;
}
footer .info .inner {
  display: flex;
  justify-content: space-between;
  max-width: 1500px;
  /* margin-left: 250px; */
}

footer .left-info .util-box {
  display: flex;
}

footer .left-info ul {
  display: flex;
}

footer .sns li:nth-of-type(1) img,
footer .sns li:nth-of-type(2) img {
  width: 29px;
  height: 20px;
}

footer .sns li:nth-of-type(3) img {
  width: 23px;
  height: 24px;
}
footer .sns li:nth-of-type(4) img {
  width: 28px;
  height: 25px;
}

footer {
  color: var(--gray5);
}

footer a {
  color: var(--white-color);
}

footer .inquiry h2 {
  color: var(--gray3);
  font-size: 50px;
}
footer .inquiry .tel-area a {
  color: var(--gray3);
  font-size: 50px;
}
footer .inquiry .tel-area p {
  font-size: 26px;
  font-weight: 100;
}
footer .inquiry .con-btn a {
  font-size: 20px;
  font-weight: 700;
}
