@charset "utf-8";

#header {
  font: 1.5rem/1.6 "NanumSquare";
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  background: #0f2244;
  overflow: hidden;
}

#header::after {
  content: "";
  display: block;
  width: 100%;
  height: 0px;
  background-color: #fff;
  transition: 0.5s;
}

#header:hover::after {
  height: 200px;
}

#header a {
  color: #fff;
}

#header .container {
  position: relative;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
}

#gnb {
  align-self: flex-start;
  position: absolute;
  left: 50%;
  top: 33px;
  transform: translate(-50%);
}

#header .main {
  display: flex;
  width: 600px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

#header .main li {
  width: 150px;
}

#header .main li a {
  display: inline-block;
}

#header .main > li > a::after {
  content: "";
  display: block;
  width: 100%;
  /* margin: auto; */
  height: 2px;
  background: #bbb;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
  /* border-bottom: 3px solid red; */
}
#header .main > li > a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

#header .main a:hover {
  color: #bbb;
}

#header .sub {
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 400;
  margin-top: 45px;
}

#header .sub a {
  color: #333;
}
